export TF_VAR_aws_access_key=
export TF_VAR_aws_secret_key=
export TF_VAR_aws_region=eu-west-1
export TF_VAR_aws_availability_zones=[\"eu-west-1a\",\"eu-west-1b\",\"eu-west-1c\"]
export TF_VAR_aws_zones=eu-west-1a,eu-west-1b,eu-west-1c
