apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: ssl/ca.pem
    server: https://${elb_name}:${api_server_secure_port}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: cluster-${key_type}
  name: cluster-${key_type}@kubernetes
users:
  - name: cluster-${key_type}
    user:
      client-certificate: ssl/${key_type}.pem
      client-key: ssl/${key_type}.key
current-context: cluster-${key_type}@kubernetes
