apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: ssl/ca.pem
    server: https://${elb_name}:${api_server_secure_port}
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: default
    user: worker
  name: worker@kubernetes
users:
  - name: worker
    user:
      client-certificate: ssl/worker.pem
      client-key: ssl/worker.key
current-context: worker@kubernetes
